body {
    background-color: #000;
    background: radial-gradient(transparent 30%, black), url("../images/login.jpg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    position: relative;
}

    body > .grid {
        height: 100%;
    }

.image {
    margin-top: -100px;
}

.column {
    max-width: 450px;
}
