@model Clan.Web.ViewModels.LockedViewModel

@{
    Layout = "~/Views/Shared/_Account.cshtml";
}

<div id="app" class="ui middle aligned center aligned grid">
    <div class="column">
        <div class="ui attached left aligned segment">
            <h3 class="ui header">
                Your account is locked
            </h3>
            <p>Your account has been locked out because of too many failed login attempts. Contact an administrator to unlock your account and then consider changing your password.</p>
        </div>
        <div class="ui bottom attached message">
            <a asp-controller="Account" asp-action="Login">Back to sign in</a>
        </div>
    </div>
</div>