@using Newtonsoft.Json

@model Clan.Web.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_Account.cshtml";
}

@{ var data = JsonConvert.SerializeObject(Model); }

@section Scripts {
    <script src="~/js/LoginViewModel.js"></script>
    <script type="text/javascript">
        var viewModel = new LoginViewModel(@Html.Raw(data));
        ko.applyBindings(viewModel, document.getElementById("app"));
    </script>
}

<div id="app" class="ui middle aligned center aligned grid">
    <div class="column">
        <div class="ui attached left aligned segment">
            <h3 class="ui header">
                Sign in to continue
            </h3>
            <form id="form-login" class="ui padded form">
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="user icon"></i>
                        <input type="email" name="email" placeholder="Email address" data-bind="textInput: Email">
                    </div>
                </div>
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password" data-bind="textInput: Password">
                    </div>
                </div>
                <div class="field">
                    <div class="ui toggle checkbox" data-bind="click: rememberMeChanged">
                        <input type="checkbox" class="hidden" id="input-remember-me" checked="checked">
                        <label>Remember me</label>
                    </div>
                </div>
                <div class="ui error message"></div>
                <button class="ui fluid large blue button" id="button-login" data-bind="click: login">Sign in</button>
            </form>
        </div>
        <div class="ui bottom attached message">
            Not a member yet? <a asp-controller="Account" asp-action="Register">Join the clan</a>
        </div>
    </div>
</div>