@using Newtonsoft.Json

@model Clan.Web.ViewModels.RegisterViewModel

@{
    Layout = "~/Views/Shared/_Account.cshtml";
}

@{ var data = JsonConvert.SerializeObject(Model); }

@section Scripts {
    <script src="~/js/RegisterViewModel.js"></script>
    <script type="text/javascript">
        var viewModel = new RegisterViewModel(@Html.Raw(data));
        ko.applyBindings(viewModel, document.getElementById("app"));
    </script>
}

<div id="app" class="ui middle aligned center aligned grid">
    <div class="column">
        <div class="ui attached left aligned segment">
            <h3 class="ui header">
                Create account
            </h3>
            <form id="form-register" class="ui padded form">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="Email" data-bind="textInput: Email">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password" data-bind="textInput: Password">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="confirm" placeholder="Confirm password" data-bind="textInput: ConfirmPassword">
                    </div>
                </div>
                <div class="ui error message"></div>
                <button id="button-register" class="ui fluid large blue button" data-bind="click: register">Join</button>
            </form>
        </div>
        <div class="ui bottom attached message">
            Already a member? <a asp-controller="Account" asp-action="Login">Sign in</a>
        </div>
    </div>
</div>