<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="~/lib/fomantic-ui/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/app.css" />
    @RenderSection("Stylesheets", required: false)
</head>
<body>
    <div id="header">
        <div class="ui grid container">
            <div class="column">
                <h2 class="ui inverted header">
                    <img src="~/images/logo.png">
                    <div class="content">
                        Overwatch Bros
                        <div class="sub header">Don't you fucking forget it</div>
                    </div>
                </h2>
            </div>
        </div>
    </div>
    <div id="sub-header">
        <div class="ui container">
            <div class="ui secondary inverted menu">
                <a asp-controller="Schedule" asp-action="Index" class="item">Schedule</a>
                <a asp-controller="Roster" asp-action="Index" class="item">Roster</a>
                <div class="right menu">
                    <a asp-controller="Account" asp-action="LogOff" class="item">Sign out</a>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>