@model Clan.Web.ViewModels.ScheduleViewModel

@{
    ViewData["Title"] = "Schedule";
}

<div class="ui equal width stackable grid container">

    <div class="row">
        <div class="column">
            <div class="ui grey center aligned segment">
                <div class="ui statistic">
                    <div class="value">
                        5,550
                    </div>
                    <div class="label">
                        Downloads
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui grey center aligned segment">
                <div class="ui statistic">
                    <div class="value">
                        5,550
                    </div>
                    <div class="label">
                        Downloads
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui grey center aligned segment">
                <div class="ui statistic">
                    <div class="value">
                        5,550
                    </div>
                    <div class="label">
                        Downloads
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui grey center aligned segment">
                <div class="ui statistic">
                    <div class="value">
                        5,550
                    </div>
                    <div class="label">
                        Downloads
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="twelve wide column">
            <div class="ui segment">
                <table class="ui very basic celled table">
                    <thead>
                        <tr>
                            <th>Employee</th>
                            <th>Correct Guesses</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h4 class="ui image header">
                                    <img src="/images/avatar2/small/lena.png" class="ui mini rounded image">
                                    <div class="content">
                                        Lena
                                        <div class="sub header">
                                            Human Resources
                                        </div>
                                    </div>
                                </h4>
                            </td>
                            <td>
                                22
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4 class="ui image header">
                                    <img src="/images/avatar2/small/matthew.png" class="ui mini rounded image">
                                    <div class="content">
                                        Matthew
                                        <div class="sub header">
                                            Fabric Design
                                        </div>
                                    </div>
                                </h4>
                            </td>
                            <td>
                                15
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4 class="ui image header">
                                    <img src="/images/avatar2/small/lindsay.png" class="ui mini rounded image">
                                    <div class="content">
                                        Lindsay
                                        <div class="sub header">
                                            Entertainment
                                        </div>
                                    </div>
                                </h4>
                            </td>
                            <td>
                                12
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4 class="ui image header">
                                    <img src="/images/avatar2/small/mark.png" class="ui mini rounded image">
                                    <div class="content">
                                        Mark
                                        <div class="sub header">
                                            Executive
                                        </div>
                                    </div>
                                </h4>
                            </td>
                            <td>
                                11
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="column">
            <div class="ui card">
                <div class="content">
                    <div class="right floated meta">14h</div>
                    Rhaydeo
                </div>
                <div class="image">
                    <img class="ui image" src="https://placehold.it/500x500" />
                </div>
                <div class="content">
                    <span class="right floated">
                        <i class="heart outline like icon"></i>
                        17 likes
                    </span>
                    <i class="comment icon"></i>
                    3 comments
                </div>
                <div class="extra content">
                    <div class="ui large transparent left icon input">
                        <i class="heart outline icon"></i>
                        <input type="text" placeholder="Add Comment...">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>