@model Clan.Web.ViewModels.RosterViewModel

@{
    ViewData["Title"] = "Index";
}

<div id="main" class="ui container">
    <h1 class="ui header">
        Roster
    </h1>
    <div class="ui four cards">
        <div class="card">
            <div class="ui slide masked reveal image">
                <img src="https://placeimg.com/640/480/people" class="visible content">
                <img src="https://placeimg.com/640/480/tech" class="hidden content">
            </div>
            <div class="content">
                <a class="header">Lorem Ipsum</a>
                <div class="meta">
                    <span class="date">Dolor sit amur</span>
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="users icon"></i>
                    Level 37
                </a>
            </div>
        </div>
        <div class="card">
            <div class="ui slide masked reveal image">
                <img src="https://placeimg.com/640/480/people" class="visible content">
                <img src="https://placeimg.com/640/480/tech" class="hidden content">
            </div>
            <div class="content">
                <a class="header">Lorem Ipsum</a>
                <div class="meta">
                    <span class="date">Dolor sit amur</span>
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="users icon"></i>
                    Level 37
                </a>
            </div>
        </div>
        <div class="card">
            <div class="ui slide masked reveal image">
                <img src="https://placeimg.com/640/480/people" class="visible content">
                <img src="https://placeimg.com/640/480/tech" class="hidden content">
            </div>
            <div class="content">
                <a class="header">Lorem Ipsum</a>
                <div class="meta">
                    <span class="date">Dolor sit amur</span>
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="users icon"></i>
                    Level 37
                </a>
            </div>
        </div>
        <div class="card">
            <div class="ui slide masked reveal image">
                <img src="https://placeimg.com/640/480/people" class="visible content">
                <img src="https://placeimg.com/640/480/tech" class="hidden content">
            </div>
            <div class="content">
                <a class="header">Lorem Ipsum</a>
                <div class="meta">
                    <span class="date">Dolor sit amur</span>
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="users icon"></i>
                    Level 37
                </a>
            </div>
        </div>
        <div class="card">
            <div class="ui slide masked reveal image">
                <img src="https://placeimg.com/640/480/people" class="visible content">
                <img src="https://placeimg.com/640/480/tech" class="hidden content">
            </div>
            <div class="content">
                <a class="header">Lorem Ipsum</a>
                <div class="meta">
                    <span class="date">Dolor sit amur</span>
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="users icon"></i>
                    Level 37
                </a>
            </div>
        </div>
        <div class="card">
            <div class="ui slide masked reveal image">
                <img src="https://placeimg.com/640/480/people" class="visible content">
                <img src="https://placeimg.com/640/480/tech" class="hidden content">
            </div>
            <div class="content">
                <a class="header">Lorem Ipsum</a>
                <div class="meta">
                    <span class="date">Dolor sit amur</span>
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="users icon"></i>
                    Level 37
                </a>
            </div>
        </div>
    </div>
</div>